html,
body {
  margin: 0;
  height: 100%;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 230px 1fr;
      grid-template-columns: 230px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-top: 50px;
}

li {
  max-width: 20px;
  font-size: 1.1rem;
  margin-bottom: 20px;
  margin-left: -10px;
}

button {
  height: 30px;
  width: 80px;
  border-radius: 15px;
  margin-left: 15px;
  background-color: #4278f6;
  color: white;
  border: solid 1px white;
}

.clickable:hover {
  cursor: pointer;
}

.left {
  min-width: 180px;
  margin: 0;
  background-color: #4278f6;
}

.left a {
  text-decoration: none;
  color: white;
}

.left .left-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-left: 25px;
  max-width: 30px;
}

.left .dash-logo {
  width: 30px;
  height: auto;
}

.left .dash-text {
  margin: 0;
  font-size: 1.4rem;
}

.left .nav-break {
  margin-bottom: 15px;
}

.left .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.left .settings {
  margin-top: 70px;
}

.right input {
  width: 600px;
  border-radius: 10px;
  height: 20px;
  background-color: white;
}

.right input:focus {
  outline-color: #4278f6;
  cursor: text;
}

.right .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.right .search {
  margin-left: 30px;
}

.right .bell {
  margin-left: 280px;
  margin-right: 10px;
}

.right .pfp {
  width: 40px;
  height: auto;
  margin-right: 15px;
}

.right .pfp-name {
  font-weight: 700;
}

.right .pfp-name-top {
  margin-left: -15px;
}

.right .under-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.right .hi-there {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 550px;
}

.right .content {
  background-color: #ced7ff;
  -webkit-box-shadow: 0 -2px #4278f6;
          box-shadow: 0 -2px #4278f6;
  height: 100vh;
}

.right .content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-bottom: -50px;
  font-size: 16px;
  font-weight: 700;
}

.right .sub-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .sub-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px;
      grid-template-columns: 400px 400px;
  -ms-grid-rows: 100px 100px;
      grid-template-rows: 100px 100px;
  row-gap: 120px;
  margin-top: 30px;
}

.right .cards {
  background-color: white;
  height: 190px;
  margin-left: 20px;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 3px #4278f6, -5px 0px blue;
          box-shadow: 1px 1px 3px #4278f6, -5px 0px blue;
  margin-top: 30px;
}

.right .card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
  margin-right: 10px;
  margin-top: 25px;
}

.right .card-icon .card-img {
  width: 30px;
  height: auto;
}

.right .announcments-title {
  margin-left: 747px;
}

.right .trending-title {
  position: relative;
  font-weight: 700;
  top: 380px;
  right: 100px;
}

.right .sub-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px;
      grid-template-columns: 250px;
  -ms-grid-rows: 295px 295px;
      grid-template-rows: 295px 295px;
  row-gap: 50px;
  margin-left: 50px;
}

.right .sub-right .card2 {
  padding: 15px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px, 1px;
          box-shadow: 1px, 1px;
  position: relative;
  top: 50px;
  margin-top: -30px;
  -webkit-box-shadow: 1px 1px 3px #4278f6;
          box-shadow: 1px 1px 3px #4278f6;
}

.right .sub-right .card2-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -8px;
}

.right .sub-right .column1 {
  font-size: 12px;
  margin-top: -10px;
}

.right .sub-right .alt {
  border-bottom: solid 1px grey;
  margin-bottom: 3px;
}

.right .sub-right .bold {
  font-weight: 700;
  font-size: 14px;
}

.right .sub-right .card2-text {
  font-size: 14px;
}

.right .sub-right .column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 12px;
}

.right .sub-right .column2-styling {
  padding: 10px;
  margin-top: 1px;
}

.right .sub-right .column2-pfp {
  width: 40px;
  height: 30px;
}

.right .sub-right .column2-at {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right .sub-right .column2-names {
  margin-bottom: -10px;
}

.nav-logos {
  width: 20px;
  height: auto;
}
/*# sourceMappingURL=styles.css.map */